@font-face {
  font-family: 'Ananda Neptouch 2';
  src: url('Ananda Neptouch 2.eot');
  src: url('Ananda Neptouch 2.woff2') format('woff2'),
       url('Ananda Neptouch 2.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AnandaNeptouch2';
  src: url('AnandaNeptouch2.woff') format('woff'),
       url('AnandaNeptouch2.ttf') format('truetype'),
       url('AnandaNeptouch2.svg#AnandaNeptouch2') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'AnandaNeptouch2';
}
/*9*/
#banner img{
  width: 100%;
}
#banner {
    position: relative;
    overflow: hidden;
}
#banner .flying {
    position: absolute;
    top: 7px;
}

#be-part {
    padding-top: 55px;
    width: 100%;
}
#be-part h2{
    color: #0d3c01;
    font-size: 87px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 75px;
}
#be-part p{
    color: #250d06;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin-top: 12px;
}


@media (max-width:768px){
  #be-part h2{
    font-size: 40px;margin-bottom:30px;
     } 
 } 
